// Variables
$navbar-height: 40px;
$link-color: #000;
$hover-link-background: #ccc;

// Navbar styles
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  background: transparent;
  z-index: 100;

  &__link {
    display: inline-block;
    padding: 8px 16px;
    color: $link-color;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.2s;

    &:hover {
      cursor: pointer;
      background-color: $hover-link-background;
    }
  }
}
