$footer-background: #000;
$text-color: #fff;

.footer {
  padding: 64px 0;
  text-align: center;
  background-color: $footer-background;

  &__created {
    color: $text-color;
  }

  &__social {
    margin: 16px 0;

    &-link {
      font-size: 24px;

      i {
        color: $text-color;
      }
    }
  }

  &__up {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    color: #000;
    background-color: #f1f1f1;
    text-decoration: none;
    user-select: none;

    &-icon {
      position: absolute;
      top: 50%;
      transition: top 0.2s;
      transform: translateY(-50%);
    }

    &-text {
      padding-left: 25px;
    }

    &:hover {
      cursor: pointer;
      background-color: #ccc;

      .footer__up-icon {
        top: calc(50% - 3px);
      }
    }
  }
}
