body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.5
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
